<h1 style='color: green; text-align:center'>Data Cleaning: Passenger Satisfaction Dataset - US Airline Passenger Satisfaction</h1>

<h2 style='color: purple;'>Import libraries and packages</h2>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

<h2 style='color: purple'>Initialize and load dataset</h2>

In [2]:
airline_passenger_satisfaction = pd.read_csv('dataset/airline_passenger_satisfaction.csv', sep=';')

<h2 style='color: purple;'>Check missing value</h2>

<h3 style='color: orange'>Check each feature for missing values</h3>

Jumlah data yang missing sebanyak 393 atau 0,302 persen dari jumlah keselurahan data pada fitur Arrival Delay in Minutes

In [3]:
airline_passenger_satisfaction.isnull().sum()

id                                     0
Satisfaction                           0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Seat comfort                           0
Departure/Arrival time convenient      0
Food and drink                         0
Gate location                          0
Inflight wifi service                  0
Inflight entertainment                 0
Online support                         0
Ease of Online booking                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Cleanliness                            0
Online boarding                        0
Departure Delay in Minutes             0
Arrival Delay in Minutes             393
dtype: int64

<h3 style='color: orange'>Delete the line that is missing value</h3>

Karena dataset yang missing sebesar 393 atau 0,302 persen, dapat dilakukan drop secara baris yang memiliki missing value, yaitu fitur Arrival Delay in Minutes.

In [4]:
airline_passenger_satisfaction_no_mv = airline_passenger_satisfaction.dropna(axis=0)

In [5]:
airline_passenger_satisfaction_no_mv.isnull().sum()

id                                   0
Satisfaction                         0
Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Seat comfort                         0
Departure/Arrival time convenient    0
Food and drink                       0
Gate location                        0
Inflight wifi service                0
Inflight entertainment               0
Online support                       0
Ease of Online booking               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Cleanliness                          0
Online boarding                      0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
dtype: int64

In [6]:
print('Number of row    :', airline_passenger_satisfaction_no_mv.shape[0])
print('Number of column :', airline_passenger_satisfaction_no_mv.shape[1])

Number of row    : 129487
Number of column : 24

In [7]:
pd.set_option('display.max_columns', None)
airline_passenger_satisfaction_no_mv.head()

,id,Satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,11112,satisfied,Female,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,2,2,4,2,3,3,0,3,5,3,2,0,0.0
1,110278,satisfied,Male,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,3,0,2,2,3,4,4,4,2,3,2,310,305.0
2,103199,satisfied,Female,Loyal Customer,15,Personal Travel,Eco,2138,0,0,0,3,2,0,2,2,3,3,4,4,4,2,0,0.0
3,47462,satisfied,Female,Loyal Customer,60,Personal Travel,Eco,623,0,0,0,3,3,4,3,1,1,0,1,4,1,3,0,0.0
4,120011,satisfied,Female,Loyal Customer,70,Personal Travel,Eco,354,0,0,0,3,4,3,4,2,2,0,2,4,2,5,0,0.0

In [8]:
airline_passenger_satisfaction_no_mv[(airline_passenger_satisfaction_no_mv['Satisfaction'] == 'neutral or dissatisfied') & (airline_passenger_satisfaction_no_mv['Customer Type'] =='Loyal Customer')]

,id,Satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
795,123730,neutral or dissatisfied,Male,Loyal Customer,48,Personal Travel,Eco Plus,1201,1,0,0,1,5,0,5,5,5,5,4,4,5,5,0,0.0
799,32873,neutral or dissatisfied,Male,Loyal Customer,30,Personal Travel,Eco,1582,1,0,0,3,1,0,1,1,2,4,3,5,1,1,0,2.0
803,87865,neutral or dissatisfied,Male,Loyal Customer,19,Personal Travel,Eco,1737,1,0,0,4,1,0,1,1,4,4,5,3,5,1,0,0.0
804,46711,neutral or dissatisfied,Male,Loyal Customer,13,Personal Travel,Eco,1351,1,0,0,4,5,0,5,5,5,2,5,4,4,5,4,2.0
805,41931,neutral or dissatisfied,Male,Loyal Customer,31,Personal Travel,Eco,1109,1,0,0,4,4,0,4,4,3,3,4,3,4,4,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110937,96117,neutral or dissatisfied,Male,Loyal Customer,30,Business travel,Eco Plus,2735,5,1,1,1,5,4,5,5,1,2,4,3,3,5,0,0.0
110945,90791,neutral or dissatisfied,Female,Loyal Customer,28,Business travel,Eco,1675,5,3,3,3,5,4,5,5,2,2,3,2,3,5,2,1.0
110948,75019,neutral or dissatisfied,Female,Loyal Customer,53,Business travel,Business,269,5,2,2,2,2,3,3,5,5,4,5,4,5,3,1,9.0
110951,63970,neutral or dissatisfied,Male,Loyal Customer,27,Business travel,Eco Plus,2076,5,5,5,5,5,4,5,5,3,3,3,4,3,5,0,0.0
110954,9522,neutral or dissatisfied,Female,Loyal Customer,53,Business travel,Business,245,5,3,4,3,3,3,3,5,5,4,5,1,5,1,6,0.0

In [9]:
airline_passenger_satisfaction_no_mv[(airline_passenger_satisfaction_no_mv['Satisfaction'] == 'satisfied') & (airline_passenger_satisfaction_no_mv['Customer Type'] == 'disloyal Customer')]

,id,Satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
39981,37839,satisfied,Female,disloyal Customer,23,Business travel,Eco,2196,0,0,0,1,4,0,4,4,5,4,2,2,3,4,0,0.0
39982,21261,satisfied,Male,disloyal Customer,24,Business travel,Eco,2683,0,0,0,1,2,0,2,2,2,1,2,4,2,2,0,0.0
39983,92358,satisfied,Male,disloyal Customer,30,Business travel,Business,2723,0,0,0,1,1,0,1,1,4,5,5,5,4,1,3,0.0
39984,101271,satisfied,Female,disloyal Customer,30,Business travel,Business,2530,0,0,0,1,4,0,4,4,5,4,4,5,4,4,18,6.0
39985,98848,satisfied,Male,disloyal Customer,30,Business travel,Business,3019,0,0,0,1,5,0,4,5,4,4,4,5,4,5,38,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129870,22432,satisfied,Female,disloyal Customer,70,Personal Travel,Eco,1674,5,4,5,1,5,5,5,5,3,2,4,5,4,5,54,46.0
129871,91851,satisfied,Female,disloyal Customer,35,Personal Travel,Eco,3287,5,4,5,3,2,5,2,2,4,5,4,4,3,2,9,0.0
129872,41573,satisfied,Female,disloyal Customer,69,Personal Travel,Eco,2240,5,4,5,3,4,5,4,4,5,4,4,3,4,4,4,0.0
129874,53969,satisfied,Female,disloyal Customer,11,Personal Travel,Eco,2752,5,5,5,2,2,5,2,2,3,5,3,5,4,2,5,0.0
129875,119211,satisfied,Female,disloyal Customer,29,Personal Travel,Eco,1731,5,5,5,3,2,5,2,2,3,3,4,4,4,2,0,0.0

In [10]:
airline_passenger_satisfaction_no_mv[(airline_passenger_satisfaction_no_mv['Satisfaction'] == 'satisfied') & (airline_passenger_satisfaction_no_mv['Customer Type'] == 'Loyal Customer')]

,id,Satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,11112,satisfied,Female,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,2,2,4,2,3,3,0,3,5,3,2,0,0.0
1,110278,satisfied,Male,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,3,0,2,2,3,4,4,4,2,3,2,310,305.0
2,103199,satisfied,Female,Loyal Customer,15,Personal Travel,Eco,2138,0,0,0,3,2,0,2,2,3,3,4,4,4,2,0,0.0
3,47462,satisfied,Female,Loyal Customer,60,Personal Travel,Eco,623,0,0,0,3,3,4,3,1,1,0,1,4,1,3,0,0.0
4,120011,satisfied,Female,Loyal Customer,70,Personal Travel,Eco,354,0,0,0,3,4,3,4,2,2,0,2,4,2,5,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129674,17878,satisfied,Female,Loyal Customer,62,Personal Travel,Eco,475,0,0,0,1,4,4,4,1,1,0,1,3,1,4,0,0.0
129675,50870,satisfied,Female,Loyal Customer,17,Personal Travel,Eco,1719,0,0,0,1,1,0,1,1,3,4,5,5,5,1,0,4.0
129676,118199,satisfied,Female,Loyal Customer,43,Personal Travel,Eco,1444,0,0,0,2,5,5,5,3,3,0,3,5,3,4,13,2.0
129776,112487,satisfied,Male,Loyal Customer,61,Personal Travel,Eco,2458,0,0,0,1,2,0,2,2,4,4,5,4,5,2,1,0.0
129777,88843,satisfied,Male,Loyal Customer,13,Personal Travel,Eco Plus,1110,0,0,0,1,1,0,1,1,3,5,5,5,5,1,7,5.0

In [11]:
airline_passenger_satisfaction_no_mv[(airline_passenger_satisfaction_no_mv['Satisfaction'] == 'neutral or dissatisfied') & (airline_passenger_satisfaction_no_mv['Customer Type'] == 'disloyal Customer')]

,id,Satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
40855,80426,neutral or dissatisfied,Male,disloyal Customer,22,Business travel,Eco,3119,1,0,0,1,5,1,5,5,5,5,3,5,4,5,1,0.0
40856,94293,neutral or dissatisfied,Female,disloyal Customer,48,Business travel,Business,1990,1,0,0,1,3,1,1,3,3,2,5,3,4,3,0,0.0
40857,117437,neutral or dissatisfied,Female,disloyal Customer,44,Business travel,Business,2063,1,0,0,1,3,1,3,3,3,4,5,4,5,3,13,14.0
40858,87035,neutral or dissatisfied,Male,disloyal Customer,40,Business travel,Business,2209,1,0,0,1,1,0,1,1,3,5,5,4,5,1,25,9.0
40859,76367,neutral or dissatisfied,Female,disloyal Customer,39,Business travel,Business,2373,1,0,0,1,5,0,5,5,4,3,4,3,5,5,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129860,67201,neutral or dissatisfied,Female,disloyal Customer,43,Personal Travel,Eco,2748,4,5,5,1,5,5,5,5,4,3,4,5,4,5,0,3.0
129876,97768,neutral or dissatisfied,Male,disloyal Customer,63,Personal Travel,Business,2087,2,3,2,4,2,1,1,3,2,3,3,1,2,1,174,172.0
129877,125368,neutral or dissatisfied,Male,disloyal Customer,69,Personal Travel,Eco,2320,3,0,3,3,3,2,2,4,4,3,4,2,3,2,155,163.0
129878,251,neutral or dissatisfied,Male,disloyal Customer,66,Personal Travel,Eco,2450,3,2,3,2,3,2,2,3,3,2,3,2,1,2,193,205.0
129879,84566,neutral or dissatisfied,Female,disloyal Customer,38,Personal Travel,Eco,4307,3,4,3,3,3,3,3,4,5,5,5,3,3,3,185,186.0