<h1 style='color: green; text-align:center'>Descriptive Analysis: Passenger Satisfaction Dataset - US Airline Passenger Satisfaction</h1>

<h2 style='color: purple;'>Import libraries and packages</h2>

In [1]:
import pandas as pd

<h2 style='color: purple;'>Context</h2>

US Airline passenger satisfaction survey.

<h2 style='color: purple;'>Content</h2>

This dataset consists of 24 features, including:
- <b>id</b>: unique number foreach respondent.
- <b>satisfaction</b>: Airline satisfaction level(Satisfaction, neutral or dissatisfaction).
- <b>Gender</b>: Gender of the passengers (Female or Male).
- <b>Customer Type</b>: The customer type (Loyal customer or disloyal customer).
- <b>Age</b>: The actual age of the passengers.
- <b>Type of Travel</b>: Purpose of the flight of the passengers (Personal Travel or Business Travel).
- <b>Class</b>: Travel class in the plane of the passengers (Business, Eco, and Eco Plus).
- <b>Flight distance</b>: The flight distance of this journey.
- <b>Seat comfort</b>: Satisfaction level of Seat comfort.
- <b>Departure/Arrival time convenient</b>: Satisfaction level of Departure/Arrival time convenient.
- <b>Food and drink</b>: Satisfaction level of Food and drink.
- <b>Gate location</b>: Satisfaction level of Gate location.
- <b>Inflight wifi service</b>: Satisfaction level of the inflight wifi service (0:Not Applicable; 1-5).
- <b>Inflight entertainment</b>: Satisfaction level of inflight entertainment.
- <b>Online support</b>: Satisfaction level of online support.
- <b>Ease of Online booking</b>: Satisfaction level of online booking.
- <b>On-board service</b>: Satisfaction level of On-board service.
- <b>Leg room service</b>: Satisfaction level of Leg room service.
- <b>Baggage handling</b>: Satisfaction level of baggage handling.
- <b>Check-in service</b>: Satisfaction level of Check-in service.
- <b>Cleanliness</b>: Satisfaction level of Cleanliness.
- <b>Online boarding</b>: Satisfaction level of online boarding.
- <b>Departure Delay in Minutes</b>: Minutes delayed when departure.
- <b>Arrival Delay in Minutes</b>: Minutes delayed when Arrival.

<h2 style='color: purple;'>Dependence Variables</h2>

- Satisfaction
- Customer Type
- Class

<h2 style='color: purple;'>Independence Variables</h2>

- id
- Gender
- Age
- Type of Travel
- Flight Distance
- Seat comfort
- Departure/Arrival time convenient
- Food and drink
- Gate location
- Inflight wifi service
- Inflight entertainment
- Online support
- Ease of Online booking
- On-board service
- Leg room service
- Baggage handling
- Checkin service
- Cleanliness
- Online boarding
- Departure Delay in Minutes
- Arrival Delay in Minutes

<h2 style='color: purple;'>Initialize and load dataset</h2>

In [2]:
airline_passenger_satisfaction = pd.read_csv('dataset/airline_passenger_satisfaction.csv', sep=';')

In [3]:
pd.set_option('display.max_columns', None)
airline_passenger_satisfaction.head()

,id,Satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,11112,satisfied,Female,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,2,2,4,2,3,3,0,3,5,3,2,0,0.0
1,110278,satisfied,Male,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,3,0,2,2,3,4,4,4,2,3,2,310,305.0
2,103199,satisfied,Female,Loyal Customer,15,Personal Travel,Eco,2138,0,0,0,3,2,0,2,2,3,3,4,4,4,2,0,0.0
3,47462,satisfied,Female,Loyal Customer,60,Personal Travel,Eco,623,0,0,0,3,3,4,3,1,1,0,1,4,1,3,0,0.0
4,120011,satisfied,Female,Loyal Customer,70,Personal Travel,Eco,354,0,0,0,3,4,3,4,2,2,0,2,4,2,5,0,0.0

<h2 style='color: purple;'>Describe dataset</h2>

<h3 style='color: orange'>Number of row and column</h3>

In [4]:
print('Number of row    :', airline_passenger_satisfaction.shape[0])
print('Number of column :', airline_passenger_satisfaction.shape[1])

Number of row    : 129880
Number of column : 24

<h3 style='color: orange'>Information for each feature</h3>

This dataset consists of three data types, namely 1 float64, 18 int64, and 5 objects.

In [5]:
airline_passenger_satisfaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 24 columns):
id                                   129880 non-null int64
Satisfaction                         129880 non-null object
Gender                               129880 non-null object
Customer Type                        129880 non-null object
Age                                  129880 non-null int64
Type of Travel                       129880 non-null object
Class                                129880 non-null object
Flight Distance                      129880 non-null int64
Seat comfort                         129880 non-null int64
Departure/Arrival time convenient    129880 non-null int64
Food and drink                       129880 non-null int64
Gate location                        129880 non-null int64
Inflight wifi service                129880 non-null int64
Inflight entertainment               129880 non-null int64
Online support                       129880 non-null int64
Ease of Online booking               129880 non-null int64
On-board service                     129880 non-null int64
Leg room service                     129880 non-null int64
Baggage handling                     129880 non-null int64
Checkin service                      129880 non-null int64
Cleanliness                          129880 non-null int64
Online boarding                      129880 non-null int64
Departure Delay in Minutes           129880 non-null int64
Arrival Delay in Minutes             129487 non-null float64
dtypes: float64(1), int64(18), object(5)
memory usage: 23.8+ MB

In [6]:
airline_passenger_satisfaction[airline_passenger_satisfaction['Age'] == 7]

,id,Satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
61,9397,satisfied,Female,Loyal Customer,7,Personal Travel,Eco,1598,0,1,0,3,3,0,3,3,2,2,4,3,4,3,0,0.0
181,122382,satisfied,Male,Loyal Customer,7,Personal Travel,Eco,1817,0,3,0,1,1,0,1,1,1,2,2,1,3,1,1,5.0
194,103705,satisfied,Female,Loyal Customer,7,Personal Travel,Eco,1890,0,3,0,2,1,0,1,1,2,2,5,1,2,1,0,0.0
216,65389,satisfied,Male,Loyal Customer,7,Personal Travel,Eco,1871,0,3,0,3,5,0,5,5,1,5,3,1,4,5,0,0.0
402,102461,satisfied,Female,Loyal Customer,7,Personal Travel,Eco,1474,0,4,0,3,3,0,3,3,4,2,5,3,5,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103541,98357,satisfied,Male,Loyal Customer,7,Business travel,Business,3342,2,4,2,2,4,4,4,4,4,3,4,5,4,4,0,0.0
122201,28019,satisfied,Female,Loyal Customer,7,Business travel,Business,4557,4,4,4,4,5,5,5,5,5,1,2,1,3,5,0,0.0
129714,95412,neutral or dissatisfied,Male,disloyal Customer,7,Personal Travel,Eco,1709,2,5,2,2,2,2,2,2,5,2,4,5,5,2,16,5.0
129835,75030,neutral or dissatisfied,Female,disloyal Customer,7,Personal Travel,Eco,1568,3,4,0,4,4,0,4,4,4,5,3,1,4,4,0,0.0
129846,128521,neutral or dissatisfied,Female,disloyal Customer,7,Personal Travel,Eco,1616,3,5,3,1,3,3,4,3,5,1,4,3,1,3,0,15.0

In [7]:
airline_passenger_satisfaction['Age'].max()

85

<h3 style='color: orange'>Unique value for each feature</h3>

In [8]:
uniqueValues = airline_passenger_satisfaction.nunique()
print('Count of unique value for each column:')
print(uniqueValues)

Count of unique value for each column:
id                                   129880
Satisfaction                              2
Gender                                    2
Customer Type                             2
Age                                      75
Type of Travel                            2
Class                                     3
Flight Distance                        5398
Seat comfort                              6
Departure/Arrival time convenient         6
Food and drink                            6
Gate location                             6
Inflight wifi service                     6
Inflight entertainment                    6
Online support                            6
Ease of Online booking                    6
On-board service                          6
Leg room service                          6
Baggage handling                          5
Checkin service                           6
Cleanliness                               6
Online boarding                           6
Departure Delay in Minutes              466
Arrival Delay in Minutes                472
dtype: int64

<h3 style='color: orange'>Show count, unique, top, freq, mean, std, min, 25%, 50%, 75%, and max for each feature</h3>

In [9]:
airline_passenger_satisfaction.describe(include='all')

,id,Satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
count,129880.000000,129880,129880,129880,129880.000000,129880,129880,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129487.000000
unique,NaN,2,2,2,NaN,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,satisfied,Female,Loyal Customer,NaN,Business travel,Business,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,71087,65899,106100,NaN,89693,62160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,64940.500000,NaN,NaN,NaN,39.427957,NaN,NaN,1981.409055,2.838597,2.990645,2.851994,2.990422,3.249130,3.383477,3.519703,3.472105,3.465075,3.485902,3.695673,3.340807,3.705759,3.352587,14.713713,15.091129
std,37493.270818,NaN,NaN,NaN,15.119360,NaN,NaN,1027.115606,1.392983,1.527224,1.443729,1.305970,1.318818,1.346059,1.306511,1.305560,1.270836,1.292226,1.156483,1.260582,1.151774,1.298715,38.071126,38.465650
min,1.000000,NaN,NaN,NaN,7.000000,NaN,NaN,50.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,32470.750000,NaN,NaN,NaN,27.000000,NaN,NaN,1359.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,3.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000
50%,64940.500000,NaN,NaN,NaN,40.000000,NaN,NaN,1925.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,4.000000,0.000000,0.000000
75%,97410.250000,NaN,NaN,NaN,51.000000,NaN,NaN,2544.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,5.000000,4.000000,5.000000,5.000000,4.000000,5.000000,4.000000,12.000000,13.000000
max,129880.000000,NaN,NaN,NaN,85.000000,NaN,NaN,6951.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000