<h1 style='color: green; text-align:center'>Logistic Regression</h1>

<h2 style='color: purple;'>Import libraries and packages</h2>

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from sklearn.linear_model import LogisticRegression

pd.set_option('display.max_columns', None)

<h2 style='color: purple'>Initialize and load dataset</h2>

In [2]:
airline_passenger_satisfaction_no_mv = pd.read_csv('dataset/airline_passenger_satisfaction_no_mv.csv')

<h2 style='color: purple'>Show dataset in table</h2>

In [3]:
airline_passenger_satisfaction_no_mv

,Unnamed: 0,id,Satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,0,11112,satisfied,Female,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,2,2,4,2,3,3,0,3,5,3,2,0,0.0
1,1,110278,satisfied,Male,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,3,0,2,2,3,4,4,4,2,3,2,310,305.0
2,2,103199,satisfied,Female,Loyal Customer,15,Personal Travel,Eco,2138,0,0,0,3,2,0,2,2,3,3,4,4,4,2,0,0.0
3,3,47462,satisfied,Female,Loyal Customer,60,Personal Travel,Eco,623,0,0,0,3,3,4,3,1,1,0,1,4,1,3,0,0.0
4,4,120011,satisfied,Female,Loyal Customer,70,Personal Travel,Eco,354,0,0,0,3,4,3,4,2,2,0,2,4,2,5,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129482,129875,119211,satisfied,Female,disloyal Customer,29,Personal Travel,Eco,1731,5,5,5,3,2,5,2,2,3,3,4,4,4,2,0,0.0
129483,129876,97768,neutral or dissatisfied,Male,disloyal Customer,63,Personal Travel,Business,2087,2,3,2,4,2,1,1,3,2,3,3,1,2,1,174,172.0
129484,129877,125368,neutral or dissatisfied,Male,disloyal Customer,69,Personal Travel,Eco,2320,3,0,3,3,3,2,2,4,4,3,4,2,3,2,155,163.0
129485,129878,251,neutral or dissatisfied,Male,disloyal Customer,66,Personal Travel,Eco,2450,3,2,3,2,3,2,2,3,3,2,3,2,1,2,193,205.0
129486,129879,84566,neutral or dissatisfied,Female,disloyal Customer,38,Personal Travel,Eco,4307,3,4,3,3,3,3,3,4,5,5,5,3,3,3,185,186.0

<h2 style='color: purple'>Replace feature non-metric value with metric value</h2>

In [4]:
airline_passenger_satisfaction_replace = airline_passenger_satisfaction_no_mv.copy()

airline_passenger_satisfaction_replace['Satisfaction']   = airline_passenger_satisfaction_no_mv['Satisfaction'].map({'neutral or dissatisfied':0, 'satisfied':1})
airline_passenger_satisfaction_replace['Gender']         = airline_passenger_satisfaction_no_mv['Gender'].map({'Female':0, 'Male':1})
airline_passenger_satisfaction_replace['Customer Type']  = airline_passenger_satisfaction_no_mv['Customer Type'].map({'disloyal Customer':0, 'Loyal Customer':1})
airline_passenger_satisfaction_replace['Type of Travel'] = airline_passenger_satisfaction_no_mv['Type of Travel'].map({'Business travel':0, 'Personal Travel':1})
airline_passenger_satisfaction_replace['Class']          = airline_passenger_satisfaction_no_mv['Class'].map({'Eco':0, 'Eco Plus':1, 'Business':2})

In [5]:
airline_passenger_satisfaction_replace

,Unnamed: 0,id,Satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,0,11112,1,0,1,65,1,0,265,0,0,0,2,2,4,2,3,3,0,3,5,3,2,0,0.0
1,1,110278,1,1,1,47,1,2,2464,0,0,0,3,0,2,2,3,4,4,4,2,3,2,310,305.0
2,2,103199,1,0,1,15,1,0,2138,0,0,0,3,2,0,2,2,3,3,4,4,4,2,0,0.0
3,3,47462,1,0,1,60,1,0,623,0,0,0,3,3,4,3,1,1,0,1,4,1,3,0,0.0
4,4,120011,1,0,1,70,1,0,354,0,0,0,3,4,3,4,2,2,0,2,4,2,5,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129482,129875,119211,1,0,0,29,1,0,1731,5,5,5,3,2,5,2,2,3,3,4,4,4,2,0,0.0
129483,129876,97768,0,1,0,63,1,2,2087,2,3,2,4,2,1,1,3,2,3,3,1,2,1,174,172.0
129484,129877,125368,0,1,0,69,1,0,2320,3,0,3,3,3,2,2,4,4,3,4,2,3,2,155,163.0
129485,129878,251,0,1,0,66,1,0,2450,3,2,3,2,3,2,2,3,3,2,3,2,1,2,193,205.0
129486,129879,84566,0,0,0,38,1,0,4307,3,4,3,3,3,3,3,4,5,5,5,3,3,3,185,186.0

<h2 style='color: purple'>Initialize variable dependence and independence</h2>

Fitur dependence yag dipilih untuk melakukan Regresi Logistik adalah Customer Type

Fitur-fitur independence yag dipilih untuk melakukan Regresi Logistik, antara lain:
- Satisfaction
- Gender
- Age
- Class
- Type of Travel
- Seat comfort
- Departure/Arrival time convenient
- Food and drink
- Gate location
- Inflight wifi service
- Inflight entertainment
- Online support
- Ease of Online booking
- On-board service
- Leg room service
- Baggage handling
- Checkin service
- Flight Distance
- Cleanliness
- Online boarding
- Departure Delay in Minutes
- Arrival Delay in Minutes

In [6]:
dependence_feature   = airline_passenger_satisfaction_replace['Customer Type']
independence_feature = airline_passenger_satisfaction_replace[['Satisfaction'] + ['Gender'] + ['Age'] + ['Class'] + ['Type of Travel'] + ['Seat comfort'] + ['Departure/Arrival time convenient'] + ['Food and drink'] + ['Gate location'] + ['Inflight wifi service'] + ['Inflight entertainment'] + ['Online support'] + ['Ease of Online booking'] + ['On-board service'] + ['Leg room service'] + ['Baggage handling'] + ['Checkin service'] + ['Flight Distance']  + ['Cleanliness'] + ['Online boarding'] + ['Departure Delay in Minutes'] + ['Arrival Delay in Minutes']]

<h2 style='color: purple'>Create logistic regression model</h2>

In [14]:
X = sm.add_constant(independence_feature)

In [8]:
reg_log         = sm.Logit(dependence_feature, X)
results_reg_log = reg_log.fit()

Optimization terminated successfully.
         Current function value: 0.237699
         Iterations 10

In [9]:
results_reg_log.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          Customer Type   No. Observations:               129487
Model:                          Logit   Df Residuals:                   129464
Method:                           MLE   Df Model:                           22
Date:                Sun, 29 Nov 2020   Pseudo R-squ.:                  0.5008
Time:                        12:48:30   Log-Likelihood:                -30779.
converged:                       True   LL-Null:                       -61651.
Covariance Type:            nonrobust   LLR p-value:                     0.000
=====================================================================================================
                                        coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
const                                -1.3058      0.075    -17.376      0.000      -1.453      -1.158
Satisfaction                          2.1666      0.028     76.900      0.000       2.111       2.222
Gender                                0.1432      0.021      6.908      0.000       0.103       0.184
Age                                   0.0788      0.001     84.073      0.000       0.077       0.081
Class                                 0.6819      0.012     54.981      0.000       0.658       0.706
Type of Travel                        6.5553      0.079     83.453      0.000       6.401       6.709
Seat comfort                         -0.4377      0.013    -34.900      0.000      -0.462      -0.413
Departure/Arrival time convenient     0.3394      0.009     37.013      0.000       0.321       0.357
Food and drink                       -0.0709      0.012     -5.902      0.000      -0.094      -0.047
Gate location                        -0.0319      0.010     -3.091      0.002      -0.052      -0.012
Inflight wifi service                -0.2231      0.014    -16.219      0.000      -0.250      -0.196
Inflight entertainment                0.4193      0.012     34.026      0.000       0.395       0.443
Online support                        0.1215      0.013      9.448      0.000       0.096       0.147
Ease of Online booking                0.6044      0.018     33.739      0.000       0.569       0.640
On-board service                     -0.1980      0.010    -20.324      0.000      -0.217      -0.179
Leg room service                      0.0134      0.009      1.562      0.118      -0.003       0.030
Baggage handling                     -0.3511      0.012    -29.186      0.000      -0.375      -0.328
Checkin service                      -0.2920      0.009    -32.521      0.000      -0.310      -0.274
Flight Distance                       0.0003   1.15e-05     23.325      0.000       0.000       0.000
Cleanliness                          -0.3422      0.012    -28.333      0.000      -0.366      -0.319
Online boarding                      -0.4201      0.016    -25.689      0.000      -0.452      -0.388
Departure Delay in Minutes           -0.0031      0.001     -3.071      0.002      -0.005      -0.001
Arrival Delay in Minutes              0.0044      0.001      4.377      0.000       0.002       0.006
=====================================================================================================
"""

Penjelasan tabel summary:
- Log-Likelihood, mengestimasi seberapa besar kemungkinan model yang dimiliki berhasil menjelaskan hubungan antarvariabel yang ada dengan target output. Semakin tinggi nilai log likelihood function, maka semakin tinggi probabilitas model akurat. Pada model yang telah dibuat nilai log-likelihood sebesar -30779 dengan iterari sebanyak 10 kali dengan nilai log-likelihood awal atau model awal sebesar -61651.
- LL Ratio p-value, model akhir yang dihasilkan signifikan berbeda dengan base model. LL Ratio p-value sebesar 0.00, ini memperlihatkan bahwa model akhir yang dibuat signifikan berbeda dari base model.
- Pseudo R-square, melihat nilai goodness-of-fit dari model yang dihasilkan. Pada model yang dibuat nilai Pseudo R-square sebesar 0.5008

<h2 style='color: purple'>Check Accuracy</h2>

In [10]:
np.set_printoptions(formatter={'float' : lambda x: '{0:0.2f}'.format(x)})
results_reg_log.predict()

array([1.00, 1.00, 0.99, ..., 1.00, 1.00, 1.00])

In [11]:
np.array(airline_passenger_satisfaction_replace['Customer Type'])

array([1, 1, 1, ..., 0, 0, 0], dtype=int64)

In [12]:
results_reg_log.pred_table()

array([[15921.00, 7793.00],
       [5183.00, 100590.00]])

In [13]:
confusion_matrix         = pd.DataFrame(results_reg_log.pred_table())
confusion_matrix.columns = ['Predicted 0', 'Predicted 1']
confusion_matrix         = confusion_matrix.rename(index={0: 'Actual 0', 1:'Actual 1'})
confusion_matrix

          Predicted 0  Predicted 1
Actual 0      15921.0       7793.0
Actual 1       5183.0     100590.0

- Actualnya disloyal dan prediksinya disloyal adalah sebanyak 15921 kasus
- Actualnya loyal dan prediksinya loyal adalah sebanyak 100590 kasus
- Actualnya disloyal dan prediksinya loyal adalah sebanyak 7793 kasus
- Actualnya loyal dan prediksinya disloyal adalah sebanyak 5183 kasus

Maka akurasi dari model yang telah dibuat sebesar<br>
Accuracy = (Actual 0 and Predicted 0 + Actual 1 and Predicted 1) / (Actual 0 and Predicted 1 + Actual 1 and Predicted 0)<br>
= (15921 + 100590) / (7793 + 5183)<br>
= 89.7 %<br><br>
Akurasi dari model yang dihasilkan adalah 89.7%.